body {
    background-color:black;
    color:white;
}

.page-title {
    text-shadow: 2px 12px 4px #404040;
}

.logolink, .logolink:visited, .logolink:active, .logolink:hover {
    color:white;
}

ul li {
    color:white;
}

ul li a {
    color:white;
}

ul li a:visited {
    color:white;
}

ul li a:hover {
    color:white;
}

ul li a:active {
    color:white;
}

.goll-info {
    color:white;
}

.goll-action-right {
    color:#505050;
}

.goll-action-center {
    color:#505050;
}

.goll-back {
    border:1px solid #505050;
}

.goll-front {
    border:1px solid #505050;
}

.congratulations {
    color:white;
}

.button, .action-button {
	background-color:#908c8c;
    border:1px solid white;
    color:white;
}

.button:hover, .action-button:hover {
    background-color:#2f2c2c;
}


@keyframes blink {
    from, to {
        background-color: #666161;
    }
    50% {
        background-color: #2f2c2c;
        font-weight: bold;
    }
}

@keyframes congratulations-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size:0vh;
    }
    to {
        background-color: rgba(0,0,0,.85);
        font-size: 5vh;
    }
}

@keyframes congratulations-poem {
    from {
        background-color: rgba(0,0,0,0);
        font-size:0;
    }
    to {
        background-color: rgba(0,0,0,.95);
        font-size: 5vh;
    }
}

@media only screen and (orientation: portrait) {
    @keyframes congratulations-grow {
        from {
            background-color: rgba(0,0,0,0);
            font-size:0vh;
        }
        to {
            background-color: rgba(0,0,0,.85);
            font-size: 3vh;
        }
    }
}
