body {
    background-color:rgb(255,0,255);
    color:rgb(219,191,221);
}

.page-title {
    text-shadow: 2px 12px 4px #404040;
}

.logolink, .logolink:visited, .logolink:active, .logolink:hover {
    color:rgb(219,191,221);
}

ul li {
    color: rgb(219,191,221);
}

ul li a {
    color :rgb(219,191,221);
}

ul li a:visited {
    color: rgb(219,191,221);
}

ul li a:hover {
    color: rgb(219,191,221);
}

ul li a:active {
    color: rgb(219,191,221);
}

.goll-info {
    color: rgb(219,191,221);
}

.goll-action-right {
    color:#505050;
}

.goll-action-center {
    color:#505050;
}

.goll-back {
    border:1px solid rgb(173,139,192);
}

.goll-front {
    border:1px solid rgb(173,139,192);
}

.congratulations {
    color:rgb(219,191,221);
}

.button, .action-button {
	background-color:rgb(255,51,255);
    border:1px solid white;
    color: #000000;
}

.button:hover, .action-button:hover {
	background-color:rgb(214, 111, 218);
}

@keyframes blink {
    from, to {
        background-color: rgb(255,51,255);
    }
    50% {
        background-color: rgb(214, 111, 218);
        font-weight: bold;
    }
}

@keyframes congratulations-grow {
    from {
        background-color: rgba(255,51,255,0);
        font-size:0vh;
    }
    to {
        background-color: rgba(255,51,255, .85);
        font-size: 5vh;
    }
}

@keyframes congratulations-poem {
    from {
        background-color: rgba(255,51,255,0);
        font-size:0;
    }
    to {
        background-color: rgb(255,51,255,.85);
        font-size: 5vh;
    }
}

@media only screen and (orientation: portrait) {
    @keyframes congratulations-grow {
        from {
            background-color: rgba(255,51,255,0);
            font-size:0vh;
        }
        to {
            background-color: rgba(255,51,255, .85);
            font-size: 3vh;
        }
    }
}