body {
    background-color:rgb(51,0,0);
    color:white;
}

.page-title {
    text-shadow: 2px 12px 4px #404040;
}

.logolink, .logolink:visited, .logolink:active, .logolink:hover {
    color:white;
}

ul li {
    color:white;
}

ul li a {
    color: white;
}

ul li a:visited {
    color:white;
}

ul li a:hover {
    color:white;
}

ul li a:active {
    color: white;
}

.goll-info {
    color:white;
}

.goll-action-right {
    color:#505050;
}

.goll-action-center {
    color:#505050;
}

.goll-back {
    border:1px solid white;
}

.goll-front {
    border:1px solid white;
}

.congratulations {
    color:white;
}

.button, .action-button {
	background-color:rgb(84,43,49);
    border:1px solid white;
    color:white;
}

.button:hover, .action-button:hover {
	background-color:rgb(125,36,50);
}

@keyframes congratulations-grow {
    from {
        background-color: rgba(51,0,0,0);
        font-size:0vh;
    }
    to {
        background-color: rgba(51,0,0,.85);
        font-size: 5vh;
    }
}

@keyframes congratulations-poem {
    from {
        background-color: rgba(51,0,0,0);
        font-size:0;
    }
    to {
        background-color: rgba(51,0,0,.85);
        font-size: 5vh;
    }
}

@media only screen and (orientation: portrait) {
    @keyframes congratulations-grow {
        from {
            background-color: rgba(51,0,0,0);
            font-size:0vh;
        }
        to {
            background-color: rgba(51,0,0,.85);
            font-size: 3vh;
        }
    }
}